<%= form_with model: @quote, local:true do |form| %>
  <% if @quote.errors.any? %>
    <div id="error_explanation">
      <h3>Oops! Something went wrong:</h3>
      <ul>
        <% @quote.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card">
    <div class="card-body">

      <h4 class="author-title">
        <%= form.label :author %>
        <%= form.text_field :author %>
      </h4>

        <div>

        <i class="fas fa-quote-left" aria-label= "quotes"></i><br>
          <% form.label :text %><br>
          <%= form.text_area :text %>
        <i class="fas fa-quote-right" aria-label= "quotes"></i>
      </div>

      <button><%= form.submit %></button>
    </div>
  </div> <!-- end card with quote -->

<% end %>
