<h1>Edit your quote</h1>

<%= form_with(model: @quote, local:true) do |form| %>
  <% if @quote.errors.any? %>
    <div id="error_explanation">
      <h3>Oops! Something went wrong:</h3>
      <ul>
        <% @quote.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>
