<h1>Quote of the day</h1>
<table>
  <tr>
    <th>Author: </th>
    <th>Text: </th>
    <th></th>
  </tr>

  <tr>
    <td><%= @quotes.author %></td>
    <td><%= @quotes.text %></td>
  </tr>
</table>

<button> <%= link_to "Next quote", quotes_index_path, :method => :get %> </button>
<button> <%= link_to "New quote", new_quote_path %> </button>
<button> <%= link_to "Edit", edit_quote_path(@quotes) %></button>
