<h1>Your quote</h1>

<p>
  <h3>Title:</h3>
  <%= @quote.title %>
</p>

<p>
  <h3>Quote:</h3>
  <%= @quote.text %>
</p>

<button> <%= link_to "Next quote", quotes_index_path, :method => :get %> </button>
<button> <%= link_to "New quote", new_quote_path %> </button>
<button> <%= link_to "Edit", edit_quote_path(@quote) %> </button>
