<div class= "container">

  <div class="row">
    <div class="col">
      <h1 class="main-title">Your quote</h1>
    </div>
  </div>

  <div class= "row">
    <div class="col">
      <div class="card">
        <h4 class="author-title">Author: <%= @quote.author %></h4>
        <div class="quote-div">
          <i class="fas fa-quote-left" aria-label= "quote marks"></i><br>
          <%= @quote.text %><br>
          <i class="fas fa-quote-right" aria-label= "quote marks"></i>
        </div>
        <button class="next-btn"> <%= link_to "Next quote", quotes_path, method: :get %> </button>
      </div> <!-- end card with quote -->
    </div><!-- end column -->
  </div><!-- end row -->

  <div class="row">
    <div class="col col-sm-12">
      <div class="btn-section">
        <button class="below-btns"> <%= link_to "New quote", new_quote_path %> </button>
        <button class="below-btns"> <%= link_to "Edit", edit_quote_path(@quote) %></button>
        <button class="below-btns"> <%= link_to "Delete", quote_path(@quote), method: :delete, data: { confirm: 'Are you sure?' } %></button>
      </div>
    </div>
  </div><!-- row div -->
</div><!-- container div -->
